<% layout('layouts/boilerplate') %>  
  <h1>All theatres</h1>
      <div>
        <a href="/theatres/new">Add Theatre</a>
      </div>
          <% for(let theatre of theatres) { %>
           <div class="card" mb-3>
              <div class="row">
                  <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%=theatre.image%>">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%=theatre.title></h5>
                      <p class="card-text"><%=theatre.description%></p>
                      <p class="card-text">
                        <small class="text-muted"><%=theatre.location%></small>
                      </p>
                      <a class="btn btn-primary" href="/theatres/<%=theatre._id%>">View <%=theatre.title%></a>
                    </div>
                  </div>
              </div>
           </div>
          <% } %>
